@font-face {
    font-family: 'sergeregular';
    src: url('serge-regular-webfont.woff2') format('woff2'),
         url('serge-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

img{
  width:100px;
}

body{
  background-color:rgb(17, 18, 17);
  font-family:'sergeregular',serif;
}

.top-text{
 font-family: 'Source Code Pro', monospace;
  position:absolute;
  top:50%;
  left:50%;
  color:white;
  transform:translate(-50%,-50%);
}

.top-text:hover{
 opacity:0;
 cursor:help;
}

.top-text:hover + .hide{
  opacity:1;
}

.big-star{
  position:fixed;
  bottom: 0;
  right:0;
  width:300px;
}

.falling1{
  position:absolute;
  left:80px;
  max-width:80px;
}

.falling2{
  position:absolute;
  left:0;
  max-width:80px;
}

.hide{
  position:absolute;
  top:45%;
  left:50%;
  opacity:0;
  transform:translate(-50%,-50%);
  transition:opacity .5s;
  z-index: -1;
  /* pointer-events:none; */
}


.list-of-webs{
  font-family: 'Source Code Pro', monospace;
   position:absolute;
   font-size:8px;
   top:10%;
   right:10%;
   cursor:help;
}

a:visited {
  color: rgb(207, 207, 207);
}
