，*{
 box-sizing: border-box;
}
body{
  background:#000000;
  margin:40px;
  }
   /* background-image: url("blacknoise.png");
   margin-top:0
   background-position: center;
    background-size: cover; */

    .Wetland{
      font-family:'IBM Plex Mono', monospa;
      position: fixed;
      left:8%;
      top: 30px;
      margin:auto;
      font-size: 30px;
      color:white;
    }
    .poem{
      font-family: 'Rokkitt', serif;
      position:fixed;
      left:8%;
      top: 70px;
      line-height:1.5;
      font-size: 1px;
      align-content:center;
      color:white;

    }
    .hover{
      display:inline;
    }

    .hide{
      display: none;
    }

  .hover:hover + .hide{
   display: inline;
}

.fragments{
  position:fixed;
  max-width: auto;
 height: 100;
}


.bird{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:2px;
  max-width:100%
  color:white;
  margin:auto;
  z-index:-10;
}
.center1{
  position: absolute;
  top: 40px;
  left:200px;
  /* margin:30px 20px 400px 400px; */
  z-index:3;
  }

  .center2{
    position:absolute;
    margin:90px 900px 300px 300px;
    z-index:5;
    }
    .center3{
      position:absolute;
      margin:800px 10px 300px 200px;
        z-index:4;
      }
      .center3{
        position: static;
        margin:600px 500px 100px 800px;
          z-index:5;
        }
  .center4{
  position:absolute;
  top:53%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
}
  .center5{
    top:15px;
    left:100px;
  z-index:4;
}


}
/* ·code{
  font-family: 'IBM Plex Mono',cursive;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:2px;
  max-width:100%
  color:white; */
  margin:auto;
}
