ï¼›*{
 box-sizing: border-box;
}

@font-face {
    font-family: 'times_dotroman';
    src: url('timesdotrom-webfont.woff2') format('woff2'),
         url('timesdotrom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cirruscumulusregular';
    src: url('cirruscumulus-webfont.woff2') format('woff2'),
         url('cirruscumulus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
  background:rgb(25, 25, 25);
  margin:0px;
  cursor:none;
}

img{
  max-width:100%;
}

#
 canvas {
  width: 100vw;
  height: 100vh;
  background: none;
}

.flexbox{
  cursor: none;
  margin:10px;
  position:relative;
  display:flex;
  top:10px;
  margin-left: auto;
  margin-right: auto;
  width:70vw;
  height:auto;
  flex-direction:column;
  align-items: center;
  gap:10px;

}

.title2{
  font-family: 'cirruscumulusregular';
  font-size:60pt;
  color:rgb(25, 25, 25);
  position:relative;
  align-content:center;
  z-index:4;

}

.journal{
  font-family: 'times_dotroman';
  font-size:18pt;
  line-height: 3;
  letter-spacing: 1px;
  color:rgb(25, 25, 25);
  align-content:center;
  position:relative;
  z-index:5;
  padding: 10px;
  /* border:0.5px solid white; */
}

.bug {
  /* mix-blend-mode: soft-light; */
  height:auto;
  width:50px;
  position: absolute;
  z-index:10;
  transition: top 15s ease, left 20s ease;
  transform: rotate(180deg);
}

.moth {
  top:90%;
  left:90%;
  transition: top 8s ease, left 12s ease;
}

.light {
  mix-blend-mode:difference;
  width:250px;
  height:250px;
  position: absolute;
  z-index:2;
  /* transition: top 6s ease, left 10s ease; */
}
