*{
 box-sizing: border-box;
}

body{
  margin:0;
  background-color:rgb(250, 233, 211);
}

.flex{
  background-color:rgb(251, 234, 222);
  width:100vw;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
}

.circle{
 width:20vw;
 height:20vw;
 background-color:rgb(244, 195, 155);
 /* border-radius: 50%; */
 animation: 2s pulse infinite alternate, spin 2s infinite linear alternate;
 /*同时做旋转和放大两种动画 在 keyframe组里做，加一个scale（X）的指令*/
 /* animation: pulse 1s 4s 5;
 /* 动画持续1秒，在打开页面4面后开始，做5次动画 */

}

.square{
 width:20vw;
 height:20vw;
 background-color:rgb(241, 199, 188);
 animation: spin 2s infinite linear;
  /* animation: spin 2s infinite ease-in-out; */
  /* linear:让动画以相同速率进行 */
}

.zoomer{
  background-color:rgb(249, 193, 147);
  width:200px;
  height:70px;
  position:fixed;
  bottom:0;
  left:0;
  animation:zoom 3s infinite ease;
  /* ease:曲线调节动画速率 */
}

.rotate-star{
 width:100px;
 height:100px;
 animation: 6s move infinite alternate, spin 2s infinite alternate;
 position: fixed;
 top:0;
 right:0;
}

/* .p5Canvas {
  position: fixed;
  top:0;
  left:0;
} */

.text0{
animation: 6s move infinite alternate, spin 2s infinite alternate;
top:30%;
left:15%;
}


@keyframes pulse{
  /* pulse 是动画的名字 */
 0%{
   transform:scale(1);
   opacity:0;
   /* width:30vw;
   height:30vw; */
   background-color:rgb(244, 195, 155);
 }
/* 动画的开头关键帧 */
 /* 50%{
   background-color:rgb(255, 255, 255); */
/* } */
 100%{
   transform: scale(1.5);
    background-color:rgb(255, 255, 255);
    opacity:1;
 }
 /* 动画的结尾关键帧 */
}

@keyframes spin{
  0%{
  transform:rotate(0deg) scale(1);
  /* deg 是度 */
  }

  100%{
    transform:rotate(360deg) scale(1.3);
  }
 }


 @keyframes move{
   0%{
     right:0;
   /* transform:rotate(0deg); */
   /* deg 是度 */
   }

   100%{
     right:90vw;
     /* transform:rotate(360deg); */
   }
  }

 @keyframes zoom{
  0%{
  transform: translateX(-200px);
  }

 100%{
 transform: translateX(110vw);
  }
}
